.container .btn {
    color: #ffffff;
    margin-top: 10px;
    width: 30%;
    height: 50%;
    background: #b4083a;
    border: none;
    float: none;
    margin: auto;
    position: relative;
}

.container .btn:hover {
    background: #7d082a;
}

h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 1.1666666667;
    font-weight: 500;
}

h3 {
    text-align: center;
    font-size: 1rem;
    line-height: 1.1666666667;
    font-weight: 300;
}

th {
    color: #d50842;
}

.container li:first-child {
    border: 2px solid #7d082a;
}
