.login-area {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

.form-box{
    background-color: #fafafa;
    width: 50%;
    margin: 10px auto;
}

#register-area {
    width: 60%;
    margin: 20px auto;
    text-align: left;
}

.register-form-box{
    background-color: #fafafa;
    width: 100%;
    margin: 10px auto;
}

.form-heading-smaller {
    font-size: 2rem;
    letter-spacing: -2px;
    line-height: 1.1666666667;
    font-weight: 600;
}

.form-control {
    border-radius: 0px;
    color: #495057;
    border: none;
}

input[type=text]:focus, input[type=password]:focus {
    border: 2px solid #50ab48 !important;
    box-shadow: none !important;
    outline: 0 !important;
}
.login-area .btn {
    color: #ffffff;
    margin-top: 10px;
    width: 30%;
    height: 50%;
    border: none;
    float: none;
    margin: auto;
    position: relative;
}

.login-area .btn-success {
    color: #ffffff;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    width: 30%;
    height: 50%;
    border: none;
    float: none;
    margin: auto;
    position: relative;
  }

#btn-register {
    text-decoration: none;
    width: 40%;
}


.login-area h4 {
    margin-top: 10px;
    font-size: 15px;
}

.login-area label {
    position: relative;
}
