<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<div th:fragment="header">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <ul class="nav">
        <li>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vaccination Portal
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" th:href="@{/portal/appointments}">Create Appointment</a>
                <a class="dropdown-item" sec:authorize="hasAuthority('VACCINATOR')" th:href="@{/portal/update-appointments}">Update</a>
                <a class="dropdown-item" sec:authorize="hasAuthority('ADMIN')" th:href="@{/update-roles/}">Update User Roles</a>
            </div>
        </li>
        <li>
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}">Login</a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a href="javascript: document.logoutForm.submit()">Logout</a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="logout" />
                </form>
            </div>
        </li>
        <li><a th:href="@{/}"><img src="/images/HSE_white_logo.svg"></a></li>
        <li>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vaccination Statistics
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" th:href="@{/statistics/activity}">Demographic Breakdown</a>
                <a class="dropdown-item" th:href="@{/statistics/peractivity}">Vaccination Status Breakdown</a>
            </div>
        </li>
        <li><a th:href="@{/forum}">Forum</a></li>
    </ul>
</div>

</body>
</html>