.login-area {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

.form-box{
    background-color: #fafafa;
    width: 50%;
    margin: 10px auto;
}

.form-heading-smaller {
    font-size: 2rem;
    letter-spacing: -2px;
    line-height: 1.1666666667;
    font-weight: 600;
}

.form-control {
    border-radius: 0px;
    color: #495057;
    border: none;
}

input[type=text]:focus, input[type=password]:focus {
    border: 2px solid #50ab48 !important;
    box-shadow: none !important;
    outline: 0 !important;
}

.login-area .btn {
    color: #ffffff;
    margin-top: 10px;
    width: 30%;
    height: 50%;
    background: #5f3dc4;
    border: none;
    float: none;
    margin: auto;
    position: relative;
}

#btn-register {
    width: 40%;
}

.login-area .btn:hover {
    background: #4728a3;
}

.login-area a {
    text-decoration: none;
    color: #a5a5a5;
}

.login-area a:hover {
    color: #7e7e7e;
}

.login-area h4 {
    margin-top: 10px;
    font-size: 15px;
}

.login-area label {
    position: relative;
}

.has-error {
    color: #FF3535;
}
